body{
    background-color: #fafafa;
}
.task{
    background-color: white;
    padding: 0.5rem;
    margin: 10px;
    border: 1px solid silver;
    border-radius: 0.25rem;
}


.created{
    font-size: 0.7rem;
    color: gray;
}

#delete-task{
    color: #fe6993;
    background-color: rgba(254, 105, 147, 0.1);
    border-radius: 3px;
    padding: 0.2em;
    line-height: 2em;
}

@media (max-width: 767px) {

}




.strike-task{
    text-decoration: line-through;
    color: gray;
}

.completed-task{
    background-color: #eeeeee;

}